

div {
  margin-bottom: 10px;
  
}

h2 {
  text-align: center;
  color: #fb0505;
  
}

label {
  display: inline-block;
  width: 80px;
  
}

input, select {
  padding: 5px;
  border: 1px solid #f50505;
  border-radius: 3px;
  color: #f8f8f8;
}

button {
  display: block;
  margin: 15px auto;
  padding: 8px 15px;
  background-color: #ff020f;
  color: rgb(18, 17, 17);
  border: none;
  border-radius: 4px;
  cursor: grab;
}

p {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  color: #3104fc;
 
  
  
}